@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

// variables
$dark-blue01: hsl(217, 28%, 15%);
$dark-blue02: hsl(218, 28%, 13%);
$dark-blue03: hsl(216, 53%, 9%);
$dark-blue04: hsl(219, 30%, 18%);
$blue-gradient: hsl(198, 60%, 50%);
$cyan-gradient: hsl(176, 68%, 64%);
$light-red: hsl(0, 100%, 63%);
$white: #ffffff;

//reset
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $white;
}

a {
    color: $white;
    text-decoration: none;
}

//styles
.wrapper {
    min-height: 100vh;
    padding: 0 20px;
    background-color: $dark-blue02;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.title {
    height: 30px;
}

.nav {
    &__list {
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style: none;
    }

    &__item {
        margin-left: 20px;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--padding {
        padding: 24px;
        background-color: $dark-blue01;
    }

    &__img {
        width: 100%;
    }

    &__title {
        margin: 30px 0;
        font-family: Raleway;
        text-align: center;
    }

    &__text {
        margin: 0 0 30px;
        font-size: 14px;
        font-family: 'Open Sans';
        font-weight: normal;
        text-align: center;
    }
}

.button {
    height: 50px;
    padding: 0 60px;
    border: none;
    border-radius: 25px;

    &--full-width {
        width: 100%;
    }
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    &--quote {
        margin-bottom: 20px;
    }

    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    &__title {
        margin: 30px 0;
        font-family: Raleway;
        text-align: center;
    }

    &__text {
        margin: 0 0 30px;
        font-size: 14px;
        font-family: 'Open Sans';
        font-weight: normal;
        text-align: center;
    }
}

.link {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding-bottom: 3px;

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $cyan-gradient;
        content: '';
    }

    & > a {
        font-family: 'Open Sans';
        color: $cyan-gradient;
    }
}

.quotes {
    position: relative;

    &::before {
        position: absolute;
    }
}

.quote {
    width: 80%;
    padding: 16px;
    background-color: $dark-blue04;
    font-size: 14px;
    font-family: 'Open Sans';

    &__text {
        margin: 0 0 14px 0;
    }

    &__author {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: 20px 20px;
        grid-template-areas:
            'photo name'
            'photo position';
    }

    &__author-photo {
        grid-area: photo;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    &__author-info {
        padding: 0 0 0 10px;
        margin: 0;

        &--name {
            grid-area: name;
        }

        &--position {
            grid-area: position;
        }
    }
}

.input {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        height: 40px;
        margin-right: auto;
    }

    &__item {
        display: flex;
    }

    &__text {
        margin: 0 0 0 14px;
    }
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30%;
    list-style: none;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border: 1px solid $white;
        border-radius: 15px;

        & > a {
            color: $white;
            font-size: 15px;
        }
    }
}
